<div class="post-content">
  <%= link_to "戻る", @post %>
  <span id="reply-image"><%= image_tag (@post.picture.url) if @post.picture? %></span>
  <div id="post-comment-top-word"><%= @post.content %></div>

  <%= form_for(:reply,url: reply_path, method: :patch) do |f| %>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= f.text_area :content, placeholder: "コメントをどうぞ" %>
    <%= f.button '送る', class: 'button' %>
  <% end %>
</div>
