<% if post.picture? || !post.content.empty? %>
<li class = "post-content">
  <%= link_to image_tag(post.picture.url),post_path(post),id: 'image' if post.picture? %>
  <div id="post-word-top"><%= link_to post.content, post_path(post) %></div>

  <div>
    <span id="post-form-<%= post.id %>">
      <%= render 'posts/like',  post: post%>
    </span>
    <%= link_to image_tag("kome.png", height: '18', alt: "コメントする"), edit_reply_path(post), class: 'icon' %>
  </div>

  <div>
    <% if @replies = Reply.where(post_id: post.id) %>
    <%= render @replies %>
    <% end %>
  </div>

  <footer>
    <%= time(post.created_at) %>
    <%= link_to "編", edit_post_path(post) if current_user?(post) %>
    <%= link_to "消", post, method: :delete, data: { confirm: "消しますか？"} if current_user?(post) || admin %>
  </footer>
</li>
<% end %>
