<div class="post-content">
  <%= form_for(@post) do |f| %>

  <script type="text/javascript">
    $(function() {
      function readURL(input) {
          if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
      $('#picture_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
          }
      }
      $("#picture_img").change(function(){
          readURL(this);
      });
    });
  </script>

  <div class="file-field">
    <% if @post.picture.present? %>
      <%= image_tag @post.picture.url, id: :picture_prev %>
    <% else %>
      <%= image_tag "noimage", id: :picture_prev,class: :prev%>
    <% end %>
  </div>

  <div class="file-field">
    <%= f.file_field :picture, id: :picture_img, accept:'image/jpeg,image/png,image/gif' %>
    <p><%= f.check_box :remove_picture %>画像を消す</p>
  </div>

  <div class="file-field">
    <%= f.text_area :content %>
  </div>

  <div class="file-field">
    <%= f.button "編集完了！", class: 'button' %><%= link_to 'やっぱりやめる', @post %>
    <% end %>
  </div>
</div>
