<section>
  <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= f.file_field :picture, id: :picture_img, accept:'image/jpeg,image/png,image/gif' %>
  <script type="text/javascript">
    $(function() {
      function readURL(input) {
          if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
      $('#picture_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
          }
      }
      $("#picture_img").change(function(){
          readURL(this);
      });
    });
  </script>
  <%= f.text_area :content %>
  <% if @post.picture.present? %>
    <%= image_tag @post.picture.url, id: :picture_prev %>
  <% else %>
    <%= image_tag "noimage", id: :picture_prev %>
  <% end %>

  <p><%= f.check_box :remove_picture %>画像を消す</p>

  <%= f.submit "編集完了！" %><%= link_to 'やっぱりやめる', root_path %>
  <% end %>
</section>
