<div class="post-content">
  <%= form_for(@post) do |f| %>
  <script type="text/javascript">
    $(function() {
      function readURL(input) {
          if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
      $('#picture_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
          }
      }
      $("#picture_img").change(function(){
          readURL(this);
      });
    });
  </script>

  <% if @post.picture.present? %>
    <%= image_tag @post.picture.url, id: :picture_prev, alt: "ここに画像が表示されます" %>
  <% else %>
    <%= image_tag "noimage", id: :picture_prev, class: :prev, alt: "ここに画像が表示されます" %>
    <%#sizeのxは*じゃなくてxです(アルファベット小文字)%>
  <% end %>

  <div class="file-field">
    <%= f.label :"ここにひとこと" %>
  </div>

  <div class="file-field">
    <%= f.text_area :content, placeholder: "140文字以内でね"%>
  </div>

  <div class="file-field">
    <%= f.file_field :picture, id: :picture_img, accept:'image/jpeg,image/png,image/gif' %>
  </div>

  <div class="file-field">
    <%= f.submit "投稿する！" %><%= link_to 'やっぱりやめる', request.referrer %>
    <% end %>
  </div>
</div>
