<section>
  <%= link_to image_tag(@post.picture.url),root_path %>
  <%= link_to '戻る', root_path %>
  <div class="post_word_show"><%= @post.content %></div>
  <div id="post_form_<%= @post.id %>">
    <%= render 'posts/like',  post: @post%>
  </div>
  <%= link_to '編', edit_post_path(@post) if current_user?(@post) %>
  <%= link_to '消', @post, method: :delete, data: { confirm: "消すの？"} if current_user?(@post) || admin %>
  <%= time(@post.created_at) %>
</section>
