<section>
  <%= image_tag(@post.picture.url) if @post.picture?%>
  <div class="post_word_show"><%= @post.content %></div>
  <div id="post_form_<%= @post.id %>">
    <%= render 'posts/like',  post: @post%>
  </div>
  <% if @replies = Reply.where(post_id: @post.id) %>
    <%= render @replies %>
  <% end %>

  <%= link_to 'コメントする', edit_reply_path(@post) %>
  <%= link_to '編', edit_post_path(@post) if current_user?(@post) %>
  <%= link_to '消', @post, method: :delete, data: { confirm: "消すの？"} if current_user?(@post) || admin %>
  <%= time(@post.created_at) %>

  <hr>
  <strong><%= link_to 'トップへ戻る', root_path %>
  <%= link_to '私の履歴へ', mypost_path %></strong>
</section>
