<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NilBoard</title>
    <meta charset="utf-8"><!--海外製ブラウザでの文字化け対策-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %><!--ブラウザタブに表示されるicon-->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="登録不要！気軽に使える匿名掲示板！あなたの「今」を自由に書こう"><!--検索エンジン向けの情報-->
  </head>

  <body>
    <header>
      <nav>
        <%= "管理者モード展開中" if admin %>
        <ul class="bootstrap">

          <li><a href="<%= root_path %>">
            <%= image_tag'top.png' %>
            <span>TOP</span>
          </a></li>

          <li><a href="<%= new_post_path %>">
            <%= image_tag'toukou.png' %>
            <span>投稿</span>
          </a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag'rireki.png' %>
              <span>履歴</span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to '投稿履歴', mypost_path %></li>
              <li><%= link_to 'コメントの履歴', myreplies_path %></li>
              <li class="divider"></li>
              <li><%= link_to '履歴の復元',new_ikou_path %></li>
            </ul>
          </li>

          <li><a href="<%= favorite_path %>">
            <%= image_tag'heart-logo.png' %>
            <span>お気に入り</span>
          </a></li>

          <li><a href="<%= search_path %>">
            <%= image_tag'虫眼鏡アイコン9.png' %>
            <span>探す</span>
          </a></li>

          <li><a href="<%= new_faq_path %>">
            <%= image_tag'faq.png' %>
            <span>お問い合わせ</span>
          </a></li>
        </ul>
      </nav>

      <% if flash[:notice] %>
        <div id="notice">
          <p id="flash"><%= flash[:notice] %></p>
        </div>
      <% end %>

      <span>
        <%= link_to 'in',new_login_path %>
      </span>
    </header>

    <section>
      <%= yield %>
      <%# <%= debug(params) if Rails.env.development? レスポンシブデザインの邪魔なので消しました %>
    </section>
    <footer>
      <p>Copyright &#169; 2019 sakura-yoshingawa All Rights Reserved.<br><a href="https://github.com/usukonsome/sisakuhin">github</a>
      </p>
    </footer>
  </body>
</html>
