<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NilBoard</title>
    <meta charset="utf-8"><!--海外製ブラウザでの文字化け対策-->
    <%= favicon_link_tag('favicon.ico') %><!--ブラウザタブに表示されるicon-->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="登録不要！気軽に使える匿名掲示板！あなたの「今」を自由に書こう"><!--検索エンジン向けの情報-->
  </head>

  <body>
    <header>
      <div class="header_list">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= "管理者モード展開中" if admin %>
        <%= link_to 'top', root_path %>
        <%= link_to '投稿', new_post_path %>
        <%= link_to '私の履歴', mypost_path %>
        <%= link_to 'お気に入り',favorite_path %>
        <%= link_to 'お問い合わせ',new_faq_path %>
        <%= link_to 'アカウントの復旧',new_ikou_path %>
        <%= link_to '管理者用',new_login_path %>
      </div>
    </header>
    <body>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </body>
    <footer>
    </footer>
  </body>
</html>
