<!DOCTYPE html>
<html>
  <head>
    <title>NilBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <% if admin %>
      <p>管理者モード展開中</p>
    <% end %>
    <%= link_to 'top', root_path %>
    <%= link_to '投稿', new_post_path %>
    <%= link_to '私の履歴', mypost_path %>
    <%= link_to 'お気に入り',favorite_path %>
    <%= link_to 'お問い合わせ',new_faq_path %>
    <%= link_to 'アカウントの復旧',new_ikou_path %>
    <%= link_to '管理者用',new_login_path %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
